
.details_container{
    width: 100%;
    gap:15px;
}
.detail_container{
    color: #969DA9;
    gap:5px;
    width: 70%;
}

.detail_container input{
    border:#969DA9 solid 1px;
    padding: 10px;
    font-size: 20px;
    background-color: #1F2937;
    width: 90%;
    color: #969DA9;
    border-radius: 10px;
}

.detail_container input:focus{
    border:#969DA9 solid 1px;
    outline: none;
    color: #969DA9;

}

.details_container button{
    width: 70%;
    color: #969DA9;
    background-color: #1F2937;
    padding: 10px;
    border-radius: 10px;
    border: #969DA9 solid 1px;
    font-size: 20px;
}